*{
    margin:0;
    padding:0;

}
body{
    background-color:#ebebeb;
    
    height: 100%;
    width: 100%;
    position:absolute;

    
    
}
p{
    font-family: 'Encode sans';
    margin-top:0 ;
    margin-bottom: 0;
}

.main-container{
    width:100%;
    height:100%;
    position: relative;
}
.left-container{
    position: absolute;
    height:100%;
    width:250px;
    left: 0;
    top:0;
    background-color: #181818;
    color: white;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    
}
.nav-bar{
    position: absolute;
    top:100px;
    left:0px;

    
    
}
.nav-ul{
    list-style: none;
    font-size: 25px;
    display: flex;
    flex-direction: column;
    font-family: 'Encode sans';
    font-weight: 300;
    vertical-align: top;
    
    
    
    

}
.nav-ul li{
    padding: 10px;
    transition: all 0.2s ease-in-out;
    margin-left: 30px;
    cursor: pointer;
    display: inline-block;
    transform-origin: right top;
    vertical-align: middle;
    border-radius: 8px;
    
    
    
    
    
    
    
}
.nav-ul li a{
    text-decoration: none;
    color: white;
    
}
.nav-ul img{
    vertical-align: middle;
}


.list-icon{
    width:30px;
    margin-right: 40px;
    
}
.logout-button{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-weight: 300;
    color: rgb(207, 182, 182);
    position: absolute;
    bottom:30px;
    left: 25px;
    
}
.logout-button p{
    cursor: pointer;
}
.Home-1 li {
    background-color: white;
    color: #181818;
}
.Home-1 li a {
    padding-right: 25px;
    color: #181818;
}
.rest-container{
    display: flex;
    position: absolute;
    flex-direction: row;
    top:60px;
    left:20%;

}

.infos{
    display: flex;
    flex-direction: row;
    margin-top: 100px;
    margin-bottom: 45px;
}
.total-reports{
    width:280px;
    margin-right: 20px;
    height:140px;
    background-color: white;
    border-radius:10px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    font-weight: 800;
    padding-top:10px;
    padding-left: 15px;
}
.bottom{
    display: flex;
    flex-direction: column;
    position: absolute;
    bottom:140px;
    left:280px;
    width:250px;
}

.reports{
    
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    background-color: white;
    width: 700px;
    height:70px;
    margin-top: 5px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    border-radius: 10px;
    margin: 10px;
    justify-content: center;
    align-items: center;
    

}
.type-img{
    width:45px;
    margin-top:12px;
    
}
.report-container{
    display: flex;
    flex-direction: row;
    
}
.text{
    display: flex;
    flex-direction: column;
    margin-left: 80px;
    
}
.text p{
    margin-bottom: 0;
    font-size: 16px;
    
    
}

.text p span{
    font-size: 11px;
    
    color: rgb(160, 159, 159);
}
.bottom-txt{
    display: flex;
    flex-direction: row;
    
    
}
.bottom-txt p{
    font-size: 10px;
    margin-top: 13px;
    width:145px;
    
    
}
.buttons{
    display: flex;
    flex-direction: row;
    margin-left: 160px;
    margin-top:17px;
}
.button{
    width:60px;
    height:40px;
    border:0;
    border-radius: 10px;
    background-color: #29AB87;
    font-family: 'Encode sans';
    color:white;
    margin-left:8px;
    cursor: pointer;
    transition :all 0.2s ease-in-out
    
}
.button:hover{
    background-color: white;
    border:1px solid #29AB87;
    color:#29AB87;
}
.report-info{
    position: absolute;
    width:700px;
    height:0%;
    background-color: white;
    border:1px solid rgb(75, 75, 75);
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    border-radius:10px;
    right:25%;
    bottom:0%;
    overflow: hidden;
    opacity: 0;
    transition: all 0.2s ease-in-out;
}
.header{
    position: absolute;
    right:0;
}
::-webkit-scrollbar{
    width:10px;
   
    
}
::-webkit-scrollbar-track{
    background-color: white;
    border-radius: 10px;
    margin-block: 0.2em;
}
::-webkit-scrollbar-thumb{
    background: linear-gradient(to bottom, rgb(39, 39, 39), rgb(177, 171, 171));
    border-radius: 10px;
    
}




