<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Client main</title>
        <link rel="stylesheet" href="../assets/css/ade-resp.css">
        <script src ='../assets/javascript/backgrounf-changer.js'></script>
        <style>
            @import url('https://fonts.googleapis.com/css2?family=Encode+Sans:wght@300;500;800&display=swap');
          </style>
        <style>
            </style>
    </head>
    <body>
        <div class="main-container">
            <div class="left-container">
                <div class="nav-bar">
                    <nav class="nav">
                        <ul class="nav-ul">
                           <li> <img class="list-icon"src="../assets/img/cabain.png"><a href="./ade_resp_home.html">Home</a></li>
                          <li> <img class="list-icon"src="../assets/img/book.png"><a href="./ade_resp_reports.html">Reports</a></li>
                            <li> <img class="list-icon"src="../assets/img/map.png"><a href="./ade_resp_map.html">Map</a></li>
                            <li> <img class="list-icon"src="../assets/img/drakkar.png"><a href="./ade_resp_teams.html">Teams</a></li>
                            <span class="Home-1"> <li> <img class="list-icon"src="../assets/img/treasure.png"><a href="">Statistics</a></li></span>
                        </ul>
                    </nav>
                </div>
                <div class="logout-button">
                    <img src="../assets/img/exit.png" style="width:40px; margin-right:9px;padding-top:9px;">
                    <p>Logout</p>
                </div>
            </div>
            <div class="rest-container">
                
            </div>
        </div>
    </body>