<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Client main</title>
        <link rel="stylesheet" type="text/css" href="/styles/ade-map.css">
        <link rel="stylesheet" href="/leaflet/leaflet.css">
        <script src="/leaflet/leaflet.js"></script>
        <script src="/javascript/backgrounf-changer.js"></script>
        <style>
            @import url('https://fonts.googleapis.com/css2?family=Encode+Sans:wght@300;500;800&display=swap');
        </style>
        <style>
        </style>
        
    </head>
    <body>
        <div class="main-container">
            <div class="left-container">
                <div class="nav-bar">
                    <nav class="nav">
                        <ul class="nav-ul">
                            <li id="home-url3"><img class="list-icon" src="/img/cabain.png">Home</li> 
                            <li id="report-url3"><img class="list-icon" src="/img/book.png">Reports</li>
                            <span class="Home-1"><li id="map-url3"><img class="list-icon" src="/img/map.png">Map</li></span>
                            <li id="Teams-url3"><img class="list-icon" src="/img/drakkar.png">Teams</li>
                            
                        </ul>
                    </nav>
                </div>
                <div class="logout-button">
                    <img src="/img/exit.png" style="width:40px; margin-right:9px;padding-top:9px;">
                    <p>Logout</p>
                </div>
            </div>
            <div class="rest-container">    
                <div id="map" class="map"></div>
            </div>
        </div>
        
        <script>
            let value2=document.getElementById('price')
            var popupContent=[];
            var map = L.map('map').setView([36.7631, 3.3399], 10)
            var tileLayer = L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png').addTo(map);
           
            var deconstructedData2 = <%- JSON.stringify(deconstructedData) %>;
            console.log(deconstructedData2);
    
             for (var i=0; i<deconstructedData2.length;i++){
                popupContent[i] = `<div class='custom-popup'><p class='report-nbr'>Report:${deconstructedData2[i][14]}</p><p class='report-ttl'>${deconstructedData2[i][8]}</p><p>Team:${deconstructedData2[i][9]}</p><p>ADE User:${deconstructedData2[i][13]}</p><p>report Status:${deconstructedData2[i][5]}</p><p>Cost: ${deconstructedData2[i][7]}DA</p><p>Affected Population: ${deconstructedData2[i][6]}</p></div>`
             }
            
            for(var i=0;i<popupContent.length;i++){
            var marker = L.marker([`${deconstructedData2[i][11]}`, `${deconstructedData2[i][10]}`]).addTo(map).bindPopup(popupContent[i]);}
            

           
        </script>
        <script src="/javascript/link-manipulator-map.js"></script>
    </body>
</html>