<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Login</title>
        <link rel="stylesheet" href="./styles/Login.css">
        <style>
            @import url('https://fonts.googleapis.com/css2?family=Mukta:wght@200;300;500;800&family=Tilt+Neon&display=swap');
            </style>
            
    </head>
    <body>
        
        <div class="login-container">
            <div class="black_container"></div>

            <div class="login_info">
                <p class="login-title">Create a new account</p>
                <div class="info-fields">
                    <div class=form>
                        

                        <label for="email">Nom complet</label>
                        <div class="container"> 
                        <input type="text"   id="firstname" name="firstname" placeholder="Enter your complete Name" autocomplete="off"> 
                        </div>
                        
                        </div>
                        <label for="password">Email</label>
                        <div class="container">
                        <input type="Email" id="Email" name="Email" placeholder="Enter your Email" autocomplete="off" >
                        </div>
                        <label for="password">Password</label>
                        <div class="container">
                        <input type="password" id="password" name="password" placeholder="Enter your password" autocomplete="off">
                        </div>
                        <label for="password">Unit</label>
                        <div class="container">
                        <input type="text" id="Unit" name="Unit" placeholder="Unit" autocomplete="off">
                        </div>
                        <label for="password">Role</label>
                        <div class="container">
                          <select id="role" name="roles">
                            <option value="Responsable ADE">Responsable ADE</option>
                            <option value="Vendeur ADE">Vendeur ADE</option>
                            <option value="équipe ADE">équipe ADE</option>
                          </select>
                        </div>
                        <button type="submit" id="submit">Create new account</button>
                    </div>
                    <p style="text-align: center;margin-top:15px;">Already have an account <span style="color:#B4A195;"><a href="/Login" id="register">Login</a></a></span></p>
                      
                </div>
            </div>
        </div>
        <script>
async function postData(url = '', data = {}) {
  const response = await fetch(url, {
    method: "POST",
    headers: {
      "Content-Type": "application/json",
      
    },
    body:JSON.stringify(data)
   
  });
  let rdata=await response.json();
  if (response.ok) {

   console.log(rdata);
  } else {
    alert('your are not assigned to a team please check with your responsible')
  }
}
function verifyEmail() {
  return new Promise((resolve, reject) => {
    let emailInput = document.getElementById("Email");
      if (emailInput.value === "") {
        emailInput.style.borderColor='red';
        reject("Email is required");
      } else {
        resolve();
      }
    
  });
}

let submit=document.getElementById('submit');
submit.addEventListener('click',async()=>{

    await verifyEmail()
    let firstname=document.getElementById('firstname').value;
    var selectElement = document.getElementById("role");
    let email=document.getElementById('Email').value;
    let password=document.getElementById('password').value;
    let unit=document.getElementById('Unit').value;
    var selectedValue = selectElement.value;
    let sign=await postData("/register/NewAccount", {
        firstname: firstname,
        email: email,
        password: password,
        unit: unit,
        role:selectedValue
    });
    
})


        </script>
    </body>
</html>